﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">    

    @for (int i = 0; i < 3; i++)
    {
        int n = i * 3;
        <div class="row">
            <div class="col-sm-3 col-xs-3 spacer-cell">
            </div>
            <div class="col-sm-2 col-xs-2 board-cell" data-index="@n">
                <img class="board-img" id="img-@n"/>
            </div>
            <div class="col-sm-2 col-xs-2  board-cell" data-index="@(n+1)">
                <img class="board-img" id="img-@(n+1)"/>
            </div>
            <div class="col-sm-2 col-xs-2  board-cell" data-index="@(n+2)">
                <img class="board-img" id="img-@(n+2)"/>
            </div>
        </div>
    }

    <div class="row bottom-row">
        <div class="col-sm-3 col-xs-3 spacer-cell">
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="game-status jumbotron">Who will start first?</div>
            <button type="button" class="btn btn-block btn-primary btn-start btn-player-start">Player Start</button>
            <button type="button" class="btn btn-block btn-primary btn-start btn-ai-start">AI Start</button>
        </div>
    </div>


        <div class="hidden">
            <img class="naught-img" src="~/Content/naught.png" />"
            <img class="cross-img" src="~/Content/cross.png" />"
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/Scripts/xo.js")
}
