﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.board-cell{
	position: relative;
    border-style: solid;
    border-width: 2px;
}

.board-img {
    display: block;
    margin: 0 auto;
    max-width:100%;
    max-height:100%;
    min-height: 100px;
}

.bottom-row {
    padding-top: 10px;
}

.game-status {
    padding: 10px 0px;
    text-align: center;
}



